@page

@{
    var lineCounter = 0;
    var colCounter = 0;
}


<style>
    .currentPlace {background-color:yellow; border-width:2px;}
    .nosmokePlace {background-color:transparent}
    .smokePlace {background-color:gray;}
    .stanBox {width:30px; height:30px;}
    .smokePlace.currentPlace {background-color:orange;border-width:2px;}
    .testPlace {background-color:red;}
    .testPlace.currentPlace {background-color:orange;border-width:2px;}
    .testPlace.currentPlace.currentPlace {background-color:orange;border-width:2px;}
    .testPlace.smokePlace {background-color:gray;}
</style>


<div class="text-center">
    <div class="row mt-1 border-top">
        <div class="col-sm-3">
            Path Actions
            <table class="p-0 m-0 border-0">
                <tr class="m-0 p-0">
                    <td><button type="button" class="btn btn-primary" onclick="brnClick(0)"><i>\</i></button></td>
                    <td><button type="button" class="btn btn-primary" onclick="brnClick(1)"><i class="fa fa-arrow-up"></i></button></td>
                    <td><button type="button" class="btn btn-primary" onclick="brnClick(2)"><i>/</i></button></td>
                </tr>
                <tr class="m-0 p-0">
                    <td><button type="button" class="btn btn-primary" onclick="brnClick(3)"><i class="fa fa-arrow-left"></i></button></td>
                    <td><button id="btnSmoke" type="button" class="btn btn-primary" onclick="brnClick(4)"><i class="fa fa-paint-brush"></i></button></td>
                    <td><button type="button" class="btn btn-primary" onclick="brnClick(5)"><i class="fa fa-arrow-right"></i></button></td>
                </tr>
                <tr class="m-0 p-0">
                    <td><button type="button" class="btn btn-primary" onclick="brnClick(6)"><i>/</i></button></td>
                    <td><button type="button" class="btn btn-primary" onclick="brnClick(7)"><i class="fa fa-arrow-down"></i></button></td>
                    <td><button type="button" class="btn btn-primary" onclick="brnClick(8)"><i>\</i></button></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-9">
            <div class="row mt-1 border-top">
                <div class="col-sm-2">
                    Path Actions<br>
                    <button type="button" class="btn btn-primary" onclick="fixText_F()">Fix</button><br>
                    <img id="imgDirection" src="/Images/arr90.png" style="height:40px;" />
                </div>
                <div class="col-sm-10">
                    <textarea id="txtPath" rows=3 cols=40>

                    </textarea>
                </div>
            </div>
            <div class="row mt-1 border-top">
                <div class="col-sm-2">Char Count</div>
                <div class="col-sm-10">
                    <span id="charcounter"></span>
                </div>
            </div>
            <div class="row mt-1 border-top">
                <div class="col-sm-2">Current Box</div>
                <div class="col-sm-10">
                    <input type="text" id="txtCurrentBox" value="11" /><br />
                </div>
            </div>
            <div class="row mt-1 border-top">
                <div class="col-sm-12"><button type="button" class="btn btn-primary" onclick="startAgain()">Relook</button><br></div>
            </div>
            @*<div class="row mt-1 border-top">
                <div class="col-sm-2">Direction</div>
                <div class="col-sm-10">
                    <input type="text" id="txtCurrentDirection" value="90" />
                </div>
            </div>*@
        </div>
    </div>
</div>


<div class="text-center mt-2">
    <table id="tableBlocks" class="table-bordered border-1 border-dark" style="background-color:transparent;">
        @for (var iline = 1; iline <= 90; iline=iline+3)
        {
            <tr  class="">
            @for (var icol = 1; icol <= 30; icol++)
            {
                    var itemNr = (iline * 10) + icol;
                    var itemID = "b_" +  itemNr.ToString();
                    if(itemNr==11)
                    {
                        <td onclick="colorClick('@itemID')" class="stanBox currentPlace border-1 border-top border-start m-0 p-0 border-dark" style="font-size:9px;" id="@itemID">&nbsp;@itemNr</td>
                    }
                    else
                    {
                        <td onclick="colorClick('@itemID')" class="stanBox border-1 border-top border-start m-0 p-0 border-dark" style="font-size:9px;" id="@itemID">&nbsp;@itemNr</td>
                    }
                    
            }
            </tr>
        }
    </table>
</div>
