@page

@{
    var lineCounter = 0;
    var colCounter = 0;
}


<style>
    .currentPlace {background-color:yellow}
    .nosmokePlace {background-color:transparent}
    .smokePlace {background-color:gray}
    .stanBox {width:30px; height:30px;}
</style>


<div class="text-center">
    <table class="p-0 m-0 border-0">
        <tr class="m-0 p-0">
            <td><button type="button" class="btn btn-primary" onclick="brnClick(0)"><i>\</i></button></td>
            <td><button type="button" class="btn btn-primary" onclick="brnClick(1)"><i class="fa fa-arrow-up"></i></button></td>
            <td><button type="button" class="btn btn-primary" onclick="brnClick(2)"><i>/</i></button></td>
        </tr>
        <tr class="m-0 p-0">
            <td><button type="button" class="btn btn-primary" onclick="brnClick(3)"><i class="fa fa-arrow-left"></i></button></td>
            <td><button id="btnSmoke" type="button" class="btn btn-primary" onclick="brnClick(4)"><i class="fas fa-wallet"></i></button></td>
            <td><button type="button" class="btn btn-primary" onclick="brnClick(5)"><i class="fa fa-arrow-right"></i></button></td>
        </tr>
        <tr class="m-0 p-0">
            <td><button type="button" class="btn btn-primary" onclick="brnClick(6)"><i>/</i></button></td>
            <td><button type="button" class="btn btn-primary" onclick="brnClick(7)"><i class="fa fa-arrow-down"></i></button></td>
            <td><button type="button" class="btn btn-primary" onclick="brnClick(8)"><i>\</i></button></td>
        </tr>
    </table>
    Box
    <textarea id="txtPath" rows=4 cols=40>

    </textarea><button type="button" class="btn btn-primary" onclick="fixText_F()">Fix</button>
    <br />
    <span id="charcounter"></span>
    <br />
    Box<input type="text" id="txtCurrentBox" value="11" /><br />
    Dir<input type="text" id="txtCurrentDirection" value="90" />
</div>


<div class="text-center">
    <table class="table-bordered border-1 border-dark" style="background-color:transparent;">
        @for (var iline = 1; iline <= 90; iline=iline+3)
        {
            <tr  class="">
            @for (var icol = 1; icol <= 30; icol++)
            {
                    var itemNr = (iline * 10) + icol;
                    var itemID = "b_" +  itemNr.ToString();
                    if(itemNr==11)
                    {
                        <td class="stanBox currentPlace border-1 border-top border-start m-0 p-0 border-dark" style="font-size:9px;" id="@itemID">&nbsp;@itemNr</td>
                    }
                    else
                    {
                        <td class="stanBox border-1 border-top border-start m-0 p-0 border-dark" style="font-size:9px;" id="@itemID">&nbsp;@itemNr</td>
                    }
                    
            }
            </tr>
        }
    </table>
</div>
